<ion-view view-title="NewsBlitz" ng-init="loadArticles()">
    <ion-content>
        <div class="card" ng-repeat="article in articles">
            <div class="item item-divider" ng-init="getImageAndHeadline(source)">
            </div>
            <div class="item item-thumbnail-left item-text-wrap">
                <img alt="" src="{{article.urlToImage}}">
                <h2>{{article.title}}</h2>
                <p>{{article.description}}</p>
                <a href="{{article.url}}" target="_blank">Read full article</a>
            </div>
        </div>
    </ion-content>
</ion-view>