<ion-view view-title="NewsBlitz" ng-init="getUserInfo()">
    <ion-content>
        <div class="card" ng-repeat="source in userSubscriptions">
            <div class="item item-divider" ng-init="getImageAndHeadline(source)">
            </div>
            <div class="item item-thumbnail-left item-text-wrap">
                <img alt="" id="{{source.id}}_image">
                <h2 id="{{source.id}}_title"></h2>
                <p id="{{source.id}}_description"></p>
                <a  ng-click="goToDetail(source)">Read more from {{source.name}}</a>
            </div>
        </div>
    </ion-content>
</ion-view>