<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Register</h1>
        <div class="buttons">
            <button class="button button-clear button-dark" ng-click="closeRegister()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doRegister()">
            <div class="list">
                <p>All fields are mandatory</p>
                <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="registrationData.email">
        </label>
                <label class="item item-input">
          <span class="input-label">First Name</span>
          <input type="text" ng-model="registrationData.firstname">
        </label>
                <label class="item item-input">
          <span class="input-label">Last Name</span>
          <input type="text" ng-model="registrationData.lastname">
        </label>

                <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="registrationData.password">
        </label>
                <label class="item">
          <button class="button button-block button-positive" type="submit">Register</button>
        </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>