<ion-view view-title="NewsBlitz" data-ng-init="loadSubscriptions()">
    <ion-content>
        <h2>Choose the news sources you want to subscribe to</h2>
        <div ng-repeat="source in sources">
            <label class="big-checkbox custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id={{source.id}} data-ng-checked="setStatus(source.id)" ng-click="updateSubscription(source.id, source.name)">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{source.name}}</span>
            </label>
        </div>
    </ion-content>
</ion-view>